/*reglas
selectores
declaraciones
propiedades
valores*/

/* gris oscuro = #1d252c */
/* gris claro = #626262 */
/* background gris = #1b2127  */

header {
    background-color: pink ;
    color:red;
}

/*selector de etiqueta header -section - nav */
/*selector descendente elementos hijos*/
/*selector de ID # */
/*selector de ID . */


body { 
     font-family: "Source Sans Pro", sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
font-family: 'Fjalla One', Times, serif;
}

h1
{   font-size: 40px;
    line-height: 1.5;
    font-weight: normal;
    /*font-style: italic*/;
    letter-spacing: -.2px;
    text-transform: initial ;
    text-decoration: dashed;
    color: #E7E7E7;
}

h1 strong {
    color: #7A63FF ;
}

.project  {
border: 1px solid gray ;
border-radius: 10px;
padding: 45px;
margin: 10px;
margin-bottom: 15px;
width: 500px;
height: 500px;

}

.project-content {
width: 500px;
height: 200px;
margin-bottom: 15px;

}

.project-image {
width: 450px;
padding: 15px;
}

.hero {
    height: 300px;
    background-image: url(../images/hola2.jpg);
    background-color: #1E1E1E;
    background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right;
    
}

.header {
    background-color: #1E1E1E;
    color: #E7E7E7;
}

.header a{
    color: #E7E7E7 ;
    text-decoration: none;
}

.menu
{
    display: flex;
    font-family: 'Fjalla One';

}


.flexbox {
display: flex;
flex-wrap: wrap;
}

.box {
    width: 50px;
    height: 50px;
    border: 2px solid blue;
    flex-shrink: 0;
    margin: 10px;
}

